
.nav {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}

.leftNav {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 45px;
}

.one {
    display: flex;
    align-items: center;
    gap: 10px;
}

.txt {
    font-size: 28px;
    font-weight: 800;
}

.rest {
    display: flex;
    font-size: 20px;
    gap: 25px;
    font-weight: 500;
}

.rightNav button {
    background-color: black;
    color: white;
    border: none;
    height: 60px;
    width: 180px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border-radius: 4px;
}

.two {
    font-weight: 800;
    color: #FF5555;
}

.con {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 134px;
    gap: 30px
    
}

.con1 {
    display: flex;
    flex-direction: column;
}

.con1One {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 1000;
    text-align: left;
    width: 625px;
}

.con1Two {
    color: #808080;
    width: 100px;
    font-size: 20px;
    font-weight: 400;
    width: 534px;
}

.con2 {
    position: absolute;
}

.con2Four img {
    position: relative;
    top: -2406px;
    right: -971px;
}

.con2Three img {
    position: relative;
    top: -1515px;
    right: -1140px;
    z-index: 10;
}

.con2Two img {
    position: relative;
    top: -818px;
    right: -914px;
    z-index: 20;
}

.con2One img {
    position: relative;
    top: -153px;
    right: -791px;
    z-index: 30;
}
.b1{
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    border: none;
    border-radius: 4px;
}
.textb1{
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    
}
.textb2{
    color: black;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    
}
.b2{
    display: flex;
    align-items: center;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: none;
    border-radius: 4px;
    gap: 15px;
}
.con1Three{
    display: flex;
    gap: 45px;
    margin-top: 30px;
}
.con1Four img{
    margin-top: 30px;
}
.star{
    position: relative;
    top: 0px;
    left: 0px;
}
.star1{
    top: -3094px;
    left: -291px;
}
.star2{
    top: -2614px;
    left: 40px;
}
.star3{
    top: -2528px;
    left: 889px;
}